<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Thông tin Cửa hàng -->
    <table>
        <tr>
            <td style="width: 20px;border: solid #ff0000;">
                <img src="{{ logoFilePath }}" width="100px" height="100px;" data-phpspreadsheet-offset-x="20" data-phpspreadsheet-offset-y="10" />
            </td>
            <td colspan="4" style="word-wrap: break-word;border: solid #ff0000;">
                <b style="font-size: 2em;">Nền tảng - Hành trang tới Tương lai</b><br />
                <small>Cung cấp kiến thức nền tảng về Lập trình, Thiết kế Web, Cơ sở dữ liệu</small><br />
                <small>Giúp các bạn có niềm tin, hành trang kiến thức vững vàng trên con đường trở thành Nhà phát triển
                    Phần mềm</small>
            </td>
        </tr>
        <tr>
            <td colspan="5" style="border: solid #ff0000;"><b>Thông tin Đơn hàng</b></td>
        </tr>
        <tr>
            <td style="width: 20px;border: solid #ff0000;">Khách hàng:</td>
            <td colspan="4"><b>{{ dondathang.kh_ten }} ({{ dondathang.kh_dienthoai }})</b></td>
        </tr>
        <tr>
            <td style="border: solid #ff0000;">Ngày lập:</td>
            <td colspan="4" style="border: solid #ff0000;"><b>{{ dondathang.dh_ngaylap }}</b></td>
        </tr>
        <tr>
            <td style="border: solid #ff0000;">Hình thức thanh toán:</td>
            <td colspan="4" style="border: solid #ff0000;"><b>{{ dondathang.httt_ten }}</b></td>
        </tr>
        <tr>
            <td style="border: solid #ff0000;">Tổng thành tiền:</td>
            <td colspan="4" style="border: solid #ff0000;"><b>{{ dondathang.TongThanhTien }}</b></td>
        </tr>
        <tr>
            <td colspan="5" style="border: solid #ff0000;"><b>Chi tiết đơn hàng</b></td>
        </tr>
        <tr>
            <th style="text-align: center;vertical-align: center;border: solid #ff0000;">STT</th>
            <th style="text-align: center;vertical-align: center;border: solid #ff0000;">Sản phẩm</th>
            <th style="text-align: center;vertical-align: center;border: solid #ff0000;">Số lượng</th>
            <th style="text-align: center;vertical-align: center;width:10px;border: solid #ff0000;">Đơn giá</th>
            <th style="text-align: center;vertical-align: center;width:20px;border: solid #ff0000;">Thành tiền</th>
        </tr>
        {% for sanpham in dondathang.danhsachsanpham %}
        <tr>
            <td style="text-align: center;vertical-align: center;border: solid #ff0000;">{{ loop.index }}</td>
            <td style="text-align: left;vertical-align: center;word-wrap:break-word;width:22px;border: solid #ff0000;">
                <b>{{ sanpham.sp_ten }}</b><br />
                <small><i>{{ sanpham.lsp_ten}}</i></small><br />
                <small><i>{{ sanpham.nsx_ten}}</i></small>
            </td>
            <td style="text-align: right;vertical-align: center;border: solid #ff0000;">{{ sanpham.sp_soluong }}</td>
            <td style="text-align: right;vertical-align: center;border: solid #ff0000;">{{ sanpham.sp_gia }}</td>
            <td style="text-align: right;vertical-align: center;border: solid #ff0000;">{{ sanpham.sp_soluong * sanpham.sp_gia }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: right;border: solid #ff0000;"><b>Tổng thành tiền</b></td>
            <td style="text-align: right;border: solid #ff0000;">{{ dondathang.TongThanhTien }}</td>
        </tr>
        <tr>
            <td style="text-align: center;border: solid #ff0000;" colspan="5">
                <small>Xin cám ơn Quý khách đã ủng hộ Cửa hàng, Chúc Quý khách An Khang, Thịnh Vượng!</small>
            </td>
        </tr>
    </table>
</body>