{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Danh sách Khuyến mãi
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Danh sách Khuyến mãi
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<!-- Nút thêm mới, bấm vào sẽ hiển thị form nhập thông tin Thêm mới -->
<a href="create" class="btn btn-primary">
    <span data-feather="plus"></span> Thêm mới
</a>
<table class="table table-bordered table-hover mt-2">
    <thead class="thead-dark">
        <tr>
            <th>Mã Khuyến mãi</th>
            <th>Tên Khuyến mãi</th>
            <th>Nội dung Khuyến mãi</th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {% for khuyenmai in ds_khuyenmai %}
        <tr>
            <td>{{ khuyenmai.km_ma }}</td>
            <td>{{ khuyenmai.km_ten }}</td>
            <td>{{ khuyenmai.km_noidung }}</td>
            <td>{{ khuyenmai.km_tungay }}</td>
            <td>{{ khuyenmai.km_denngay }}</td>
            <td>
                <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `km_ma` -->
                <a href="edit?km_ma={{ khuyenmai.km_ma }}" class="btn btn-warning">
                    <span data-feather="edit"></span> Sửa
                </a>

                <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `km_ma` -->
                <a href="delete?km_ma={{ khuyenmai.km_ma }}" class="btn btn-danger">
                    <span data-feather="delete"></span> Xóa
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{# End Nội dung trong block content #}